html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h2,
h3,
h4 {
  padding: 10px;
  margin: 0;
}

header{
  height: 4em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
}

.logo img{
  margin-left: 1.5em;
}

.logo span{
  font-weight: bold;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  text-align: center;
  margin-right: 1em;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.hero{
  background-color: lightgrey;
  display: flex;
  height: 600px;
}

.students-studying{
  width: 60%;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em 1.5em;
}

.headline{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  width: 25%;
}

.headline-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  margin: 1em;
}

.start-here{
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: 100%;
  background-color: darkslategrey;
  color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  .desktop{
    display: none;
  }

  .mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4em;
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }

  .mobile{
    display: none;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }

  .mobile{
    display: none;
  }
}
