/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

/* Header */

header{
  height: 4em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}



.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  margin-left: 1.5em;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  text-align: center;
  margin-right: 1em;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

/* Banner */

.banner{
  background-color: lightgrey;
  display: flex;
  height: 600px;
}

.students-studying{
  width: 60%;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em 1.5em;
}

.headline{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  width: 25%;
}

.headline-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 1em;
}

.start-here{
  display: flex;
  justify-content: center;
  padding: 0.5em;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.bold{
  font-weight: bold;
}

/* Information*/

.information{
  display: flex;
  padding: 2em 1.5em;
}

.information-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 60%;
  margin-right: 1.5em;
}

.information-row{
  margin-bottom: 1em;
}

.information-row img{
  display: flex;
  width: 100%;
  background-image: url("../images/information-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar-row{
  display: flex;
  flex-basis: 423px;
  flex-wrap: nowrap;
  padding: 1em;
}

.sidebar-row:last-child{
  background-color: lightgrey;
}

.sidebar-image img{
  width: 148px;
}

.sidebar-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5em;
  padding: 1em;
}

.sidebar-info p{
  margin: 0.5em 0;
}

/* Courses */
.course{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border: 1px solid red;
}

.course-header{
  display: flex;
  font-size: 1.5em;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100%;
  border: 1px solid green;
}

.course-grid{
  display: flex;
  margin: 2em 4em;
  border: 1px solid blue;
}

.course-card{
  display: flex;
  margin: 1em;
  width: 30%;
  flex-direction: column;
  justify-content: flex-start;
  border: 5px solid yellow;
}

.course-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 220px;
  border: 1px solid brown;
}

.course-title img{
  width: 100%;
}

.course-title h3{
  margin-top: 1em;
}

.course-info{
  background-color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.padding{
  padding: 0.5em 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .desktop{
    display: none;
  }

  .responsive-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4em;
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .responsive-nav{
    display: none;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .responsive-nav{
    display: none;
  }
}
